<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#hero" rv-on-click="scrollToSection">
      <span class="brand-text text-shine">Das Frittierwerk</span>
    </a>
    <button class="navbar-toggler" type="button" rv-on-click="toggleMobileMenu" aria-label="Navigation umschalten">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" rv-class-show="mobileMenuOpen">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#speisekarte" rv-on-click="scrollToSection">Speisekarte</a>
        </li>
        <li class="nav-item" rv-if="hasAbout">
          <a class="nav-link" href="#ueber-uns" rv-on-click="scrollToSection">Über uns</a>
        </li>
        <li class="nav-item" rv-if="hasQuality">
          <a class="nav-link" href="#qualitaet" rv-on-click="scrollToSection">Qualität</a>
        </li>
        <li class="nav-item" rv-if="hasGallery">
          <a class="nav-link" href="#galerie" rv-on-click="scrollToSection">Galerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#kontakt" rv-on-click="scrollToSection">Kontakt</a>
        </li>
        <li class="nav-item" rv-if="hasImpressum">
          <a class="nav-link" href="#impressum" rv-on-click="scrollToSection">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
