extends ../layouts/main.pug

block content
  - const pageTitle = impressum.title || 'Impressum'
  section(id=slugify(pageTitle))
    .container.text-hyphenate
      h2.section-title.text-shine.text-center.text-uppercase= pageTitle
      .page-content.lh-lg!= impressum.html
