extends ../layouts/main.pug

block content
  - const pageTitle = quality.title || 'Qualität'
  section(id=slugify(pageTitle))
    .container
      h2.section-title.text-shine.text-center.text-uppercase= pageTitle
      .page-content.lead.lh-lg!= quality.html
