extends ../layouts/main.pug

block content
  - const pageTitle = about.title || 'Über uns'
  section(id=slugify(pageTitle))
    .container
      h2.section-title.text-shine= pageTitle
      .page-content!= about.html
