// Fixed call button using Bootstrap utilities
a.btn.btn-primary.position-fixed.bottom-0.end-0.m-3.m-md-4.text-uppercase.fw-bold.z-offcanvas-backdrop(
  href='tel:' + contact.phone.replace(/\s/g, '')
)
  | Jetzt anrufen

