section#hero.text-center.py-5
  .container
    p.hero-subtitle.fw-semibold.fs-3.mt-4= site.hero_subtitle || 'Dein Imbisstaurant für krossen Geschmack'
    p.hero-location.fs-5.mb-4= contact.location
    .pt-6.my-6
      include logo
