//- Static logo (replaces dfw-logo component). Scroll-rotate on .logo-gear is applied by vanilla JS in main.
.logo-container
  img.logo-base(src=basePath + '/' + logoBase alt='Das Frittierwerk')
  img.logo-gear(src=basePath + '/' + logoGear alt='' data-scroll-rotate='0.15')
