@import './dfw-app/dfw-app.component';
@import './dfw-logo/dfw-logo.component';
@import './dfw-navbar/dfw-navbar.component';
@import './dfw-menu/dfw-menu.component';
@import './dfw-contact/dfw-contact.component';
@import './dfw-page/dfw-page.component';
@import './dfw-gallery/dfw-gallery.component';
