@import '@fontsource/palanquin/400.css';
@import '@fontsource/palanquin/500.css';
@import '@fontsource/palanquin/600.css';
@import '@fontsource/palanquin/700.css';
@import '@fontsource/palanquin-dark/400.css';
@import '@fontsource/palanquin-dark/500.css';
@import '@fontsource/palanquin-dark/600.css';
@import '@fontsource/palanquin-dark/700.css';
